
@model Web_App_Job_Seeker.Models.ProfileData
@{
    ViewData["Title"] = "Upload";
}
<h6>It is mandetory to Upload both feild</h6>
<h1>Upload Files</h1>
<h2>Upload Image</h2>
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.ProfilePicture"></label>
        </dt>
        <dd>
            <input asp-for="@Model.ProfilePicture" type="file">
            <span asp-validation-for="@Model.ProfilePicture"></span>
        </dd>
         <div class="container">
         @Model.ProfileUploadStatus
     </div>
    </dl>
    
@*</form>*@
<h2>Upload Resume</h2>
@*<form enctype="multipart/form-data" method="post">*@
    <dl>
        <dt>
            <label asp-for="@Model.Resume"></label>
        </dt>
        <dd>
            <input asp-for="@Model.Resume" type="file">
            <span asp-validation-for="@Model.Resume"></span>
        </dd>
         <div class="container">
         @Model.ResumeUploadStatus
     </div>
    </dl>
   
     <div class="form-group">
                <input type="submit"  value="SaveAndFinish" class="btn btn-primary" />
            </div>

            <div>
    <a asp-action="CreatePro">Back to List</a>
</div>
</form>




@* <input  class="btn btn-success" type="submit" value="Upload" />*@

@*@model Sample_Web_App.Models.ProfileData
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>
<!--The Current HTTP REquest with Form-ost will be having
    the data divided into mutip parts
    multipart/form-data
    form-data is the Data that will be poasted with its format whih is read by the
    HTTP 
-->
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.ProfilePicture"></label>
        </dt>
        <dd>
            <input asp-for="@Model.ProfilePicture" type="file">
            <span asp-validation-for="@Model.ProfilePicture"></span>
        </dd>
         <div class="container">
         @Model.UploadStatus
     </div>
    </dl>
    <hr/>
    
    <hr/>
    <img src="~/images/@Model.FileName"   
                         class="rounded-circle"   
                         height="140" width="140"   
                         asp-append-version="true" /> 

    
    <input  class="btn btn-success" type="submit" value="Upload" />
</form>
*@