@model Web_App_Job_Seeker.Models.PersonalInfo

@{
    ViewData["Title"] = "DeletePersonalInfo";
}

<h1>DeletePersonalInfo</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileFilePath)
        </dd>
    </dl>
    
    <form asp-action="DeletePersonalInfo">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="GetInfo">Back to List</a>
    </form>
</div>

