@model Web_App_Job_Seeker.Models.FullInfo



@{
    ViewData["Title"] = "Details";
}

<h1>Full Details</h1>
<td>                
    <img src="@Model.ImageFile"                            
    class="rounded-circle"                            
    height="140" width="140"                            
    asp-append-version="true" />             
</td>
<br />
<h4>Personal Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                Full Name           </th>            
                <th>                Address           </th> 
                <th>                Contact Number          </th> 
                <th>                Email          </th>            
                           
                <th></th>        
                </tr>    
                </thead>    

                  <tbody>
                 <tr>        
                 <td>  @Html.DisplayFor(modelItem => Model.FullName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.AddressLine1) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.ContactNo)     </td>             
                 <td>  @Html.DisplayFor(modelItem => Model.Email)  </td> 
                 <td> @Html.ActionLink("DeletePersonalInfo", "DeletePersonalInfo", new {  id=Model.PersonId }) </td>
                 
             </tr>  
             <tr>        
                 <td></td>            
                 <td>City: @Html.DisplayFor(modelItem => Model.City) </td>            
                 <td></td> 
                 <td></td> 
                 
             </tr> 
             <tr>        
                 <td> </td>            
                 <td>PinCode: @Html.DisplayFor(modelItem => Model.PinCode) </td> 
                 <td></td> 
                 <td></td> 
               
                 
             </tr> 
             </tbody></table>

             <h4>Educational Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                EducationType            </th>            
                <th>                BoardName           </th> 
                <th>                Percentage          </th> 
                <th>                PassingYear          </th>            
                           
                <th></th>        
                </tr>    
                </thead>    

                  <tbody>
                 <tr> 
                 <td>  SSC</td>
                 <td>  @Html.DisplayFor(modelItem => Model.SscboardName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Sscpercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.SscpassingDate)     </td>    
                 <td>  @Html.ActionLink("DeleteEducationalInfo", "DeleteEducationalInfo", new {  id=Model.PersonId }) </td>
             </tr> 

             @if(Model.HscboardName!=null)
        {
             <tr>
                 <td>HSC</td>
                  <td>  @Html.DisplayFor(modelItem => Model.HscboardName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Hscpercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.HscpassingDate)     </td>             
             </tr>
        }

        @if(Model.DiplomaBoardName!=null)
        {
             <tr>
                 <td>Diploma</td>
                  <td>  @Html.DisplayFor(modelItem => Model.DiplomaBoardName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DiplomaPercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DiplomaPassingDate)     </td>             
             </tr>
        }

       
             @if(Model.DegreeUniversityName!=null)
        {
             <tr>
                 <td>Degree</td>
                  <td>  @Html.DisplayFor(modelItem => Model.DegreeUniversityName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DegreePercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.DegreePassingDate)     </td>             
             </tr>
        }

         @if(Model.MastersUniversityName!=null)
        {
            <tr>
                 <td>Masters</td>
                  <td>  @Html.DisplayFor(modelItem => Model.MastersUniversityName) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.MastersPercentage) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.MastersPassingDate)     </td>             
             </tr>
        }
         </tbody></table>

        <h4>Professional Information</h4>
<table class="table">    
        <thead>        
            <tr>            
                <th>                WorkExperience            </th>            
                <th>                Companies           </th> 
                <th>                ProjectInfo          </th> 
                     
                </tr>    
                </thead>  

                 <tbody>
                 <tr> 
                
                 <td>  @Html.DisplayFor(modelItem => Model.WorkExperience) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Companies) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.ProjectInfo)     </td> 
                 <td>  @Html.ActionLink("DeleteProfessionalInfo", "DeleteProfessionalInfo", new {  id=Model.PersonId }) </td>
             </tr> 
              

             </tbody></table>

              <td>
                @Html.ActionLink("EditPersonalInfo", "EditPersonalInfo", new {  id=Model.PersonId }) 
                @Html.ActionLink("EditEducationalInfo", "EditEducationalInfo", new { id=Model.EducationId}) 
                @Html.ActionLink("EditProfessionlInfo", "EditProfessionlInfo", new {  id=Model.ProfessionalId })
            </td>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@



        