@model Web_App_Job_Seeker.Models.Employeer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<td>                
    <img src="@Model.ImagePath"                            
    class="rounded-circle"                            
    height="140" width="140"                            
    asp-append-version="true" />             
</td>

<div>
    <h4>Employeer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgContact)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EmployeerId  }) |
      @Html.ActionLink("Delete", "Delete", new {  id = Model.EmployeerId  }) |
    <a asp-action="Details">Back to List</a>
</div>


