@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3>Hay MVC !!! These are CustomError Errors From Cuso Exception Filter</h3>
<p>
    <strong>
        Error Ocured in @ViewData["ControllerName"] in @ViewData["ActionName"] method and <br/>
        Error Message is @ViewData["Message"]
    </strong>
</p>
<hr/>
<!--Link to GO BAck-->

<a asp-action="@ViewData["ActionName"]" asp-controller="@ViewData["ControllerName"]">GO Back</a>    
}
